body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.body{
    background-color: #521f5d;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.logo{
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

.btn-main{
    background-color: #b99f65;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px;
}

.btn-main:hover {
    animation: scaleUp .25s forwards;
    cursor: pointer;
}

.btn-main:not(:hover) {
    animation: scaleDown .25s forwards;
}

.logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeIn 0.8s ease forwards;
}

.logo img:nth-child(1) {
    animation-delay: 0.2s;
}

.logo img:nth-child(2) {
    animation-delay: 0.8s;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes scaleDown {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}