body {
    font-family: 'Open Sans', serif;
    background-color: #F8F8FF;
    margin: 0;
    padding: 0;
}

header li {
    float: left;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F8F8FF;
}

header ul li a {
    display: block;
    color: #121212;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
}

nav img {
    height: 60px;
    width: auto;
    margin-right: 50px;
    margin-left: 10px;
}

.header {
    background-color: #F8F8FF;
    color: #121212;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.body {
    background-color: #521f5d;
    justify-content: center;
    align-items: center;
    color: #121212;
    text-align: center;
}

.logo {
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

.btn-main {
    background-color: #b99f65;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px;
    font-family: 'Open Sans', serif;
}

.btn-main:hover {
    animation: scaleUp .25s forwards;
    cursor: pointer;
}

.btn-main:not(:hover) {
    animation: scaleDown .25s forwards;
}

.logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeIn 0.8s ease forwards;
}

.logo img:nth-child(1) {
    animation-delay: 0.2s;
}

.logo img:nth-child(2) {
    animation-delay: 0.8s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes scaleDown {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F8F8FF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #F8F8FF;
}

.dropdown:hover .dropdown-content {
    display: block;
}